/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2016, 2:28:11 PM
    Author     : student
*/
header{
    background-color: darkblue;
    text-align: center;
}
header h1{
    padding: 20px;
    color: yellow;
}
footer p{
    padding: 10px;
    color:yellow;
}
footer{
    background-color: darkblue;
    text-align: center;
    clear: both;
}
img{
    float: left;
    margin-bottom: 50px;
}

aside{
    float:right;
    background-color: yellow;
    padding: 20px;
    margin-right: 40px;
}

th{
    font: strong;
}

main{
    width: 60%;
    float: left;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
    
    
}
table{
    margin: 40px auto;
    clear:both;
}
